<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOG_FILE_ROOT" source="terraria.logging.file-root" defaultValue="${TERRARIA_LOG_FILE_ROOT:-logs}"/>
    <springProperty name="LOG_MAX_FILE_SIZE" source="terraria.logging.max-file-size" defaultValue="${TERRARIA_LOG_MAX_FILE_SIZE:-20MB}"/>
    <springProperty name="LOG_MAX_HISTORY" source="terraria.logging.max-history" defaultValue="${TERRARIA_LOG_MAX_HISTORY:-14}"/>
    <springProperty name="LOG_TOTAL_SIZE_CAP" source="terraria.logging.total-size-cap" defaultValue="${TERRARIA_LOG_TOTAL_SIZE_CAP:-1GB}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_ROOT}/terrapedia-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_ROOT}/terrapedia-app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SECURITY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_ROOT}/terrapedia-security.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_ROOT}/terrapedia-security.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.terraria.skills.security" level="INFO" additivity="true">
        <appender-ref ref="SECURITY_FILE"/>
    </logger>
    <logger name="com.terraria.skills.auth" level="INFO" additivity="true">
        <appender-ref ref="SECURITY_FILE"/>
    </logger>
    <logger name="com.terraria.skills.service.impl.SecurityAuditServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="SECURITY_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APP_FILE"/>
    </root>
</configuration>
